<div class="landing-wrapper container" *ngIf="isAuthUser else authFirstTemplate">
    <app-header></app-header>

    <div class="main-content-area">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #authFirstTemplate>
    <p class="text-center">
        <button class="btn btn-primary btn-large" (click)="authenticateSelf()">Authenticate yourself first!</button>
    </p>
</ng-template>

<ng-template #authErrorTemplate>
    <p class="text-center error error-danger">
        Sorry, you are not authorised to view this application!
    </p>
</ng-template>